body {
    background: rgb(240, 030, 102);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .input-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  .input-group label {
    width: 100px;
  }
  .input-group span {
    width: 100px;
  }
  
  .input-group input {
    background: none;
    border: solid 2px white;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
  }